@model merchhunters.Models.RecomendationTypeViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        
    </div>

    <form asp-action="RecomendationTypeDropdown" asp-controller="Home" method="post">
        <div class="row">
            <div class="col-md-4">
                <select id="dropdown-type" class="form-control" asp-for="RecomendationTypeId" asp-items="@(new SelectList(Model.RecomendationTypes))">
                    <option value="">---Select---</option>
                </select>
            </div>

            <div class="col-md-2">
                <input type="submit" name="btnSubmit" value="Submit" class="btn btn-success"/>
            </div>
        </div>
    </form>