/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #5b5c71;
}
.logo {
    max-width: 100px;
    max-height: 50px;
    padding-bottom: -10px;
}
.btn-primary {
  color: #fff;
  background-color: #4cff00;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #b5b6be;
    border-color: #b5b6be;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.text-p {
    color: #5b5c71 !important;
}

.border-top {
    border-top: 1px solid #b5b6be;
}
.border-bottom {
    border-bottom: 0 solid #b5b6be;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(91, 92, 113);
}
.bg-purple {
    background-color: #b5b6be;
}
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e0e0ea;
}
.btn-1 {
    color: #212529;
    background-color: #e0e0ea;
    border-color: #5b5c71;
    margin-top:5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
